.dashboard-card {
    -fx-background-color: #2D72B2;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-pref-width: 260;
    -fx-pref-height: 50;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 4);
}

.dashboard-card Label {
    -fx-text-fill: white;
}

.dashboard-card:hover {
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-cursor: hand;
}

