.text-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #3366ff;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.text-button:hover {
    -fx-text-fill: #0033cc;
}
