.report-root {
    -fx-background-color: linear-gradient(to bottom right, #c2f0f7, #a8e0ff);
    -fx-padding: 30;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #0a2540;
    -fx-padding: 0 0 20 0;
}

.form-card {
    -fx-background-color: #A3D5ED;
    -fx-padding: 30;
    -fx-background-radius: 15;
    -fx-pref-width: 350;
}

.form-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #0a2540;
}

TextArea, TextField {
    -fx-pref-width: 100%;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-padding: 8 12;
    -fx-font-size: 14px;
}

ComboBox, DatePicker{
    -fx-pref-width: 300;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-padding: 8 12;
    -fx-font-size: 14px;
}

.submit-btn {
    -fx-background-color: #1e73be;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 10;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.submit-btn:hover {
    -fx-background-color: #155a96;
}

.map-pane {
    -fx-background-color: #d0eaff;
    -fx-background-radius: 15;
    -fx-border-color: #a4c8e1;
    -fx-border-radius: 15;
}
